@charset "UTF-8";
@import url(../components/colors.css);

/*

Segundo o site https://gs.statcounter.com/screen-resolution-stats/desktop/brazil
as resoluções mais usadas em janeiro de 2024 no Brasil são:

1920x1080 -- 27.13%
1366x768 -- 25.93%
1536x864 -- 11.69$
1280x720 a 1600x900 -- 4% aproximadamente

*/
@media only screen and (min-width: 1280px) and (max-width: 1599px) {
  /* Style da página home e da página de contato para telas de largura entre 1024px e 1728px */

  /* Estilos do cabeçalho */
  #header {
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 9px 0px var(--colorDarkGray);
  }

  #header h2 {
    font-size: 1.9em;
    font-weight: 500;
  }

  /* Estilos das seções */
  .container-apresentacao,
  .contato-container-info {
    width: 100%;
    padding: 2% 5%; /* Corrigido */
    box-sizing: border-box;
  }

  .container-apresentacao {
    display: flex;
    text-align: left;
    color: var(--colorDarkGray);
    width: 100vw;
    height: auto;
    align-items: center;
    margin-top: 5%;
  }

  .container-apresentacao h1 {
    font-size: 3em;
    padding: 0;
    margin: 0;
  }

  .container-apresentacao-text {
    font-size: 1.5em;
    padding: 0;
    width: 60%;
    margin: 2%;
  }

  .container-foto {
    max-width: 300px;
    max-height: 300px;
    margin: 5%;
  }

  .container-sobre {
    background-color: var(--colorGray);
    color: var(--colorWhite);
    padding: 10% 5% 5% 5%;
  }

  .container-sobre h2,
  .container-rede-social h2 {
    font-size: 2em;
  }

  .container-sobre h2 {
    margin-left: 2%;
  }

  .container-sobre-text {
    font-size: 1.5em;
    width: 60%;
    margin: 2%;
    margin-bottom: 9.5%;
  }

  .container-rede-social {
    display: flex;
    color: var(--colorDarkGray);
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 10% 5%;

  }

  .container-rede-social h2 {
    margin-bottom: 40px; /* Espaçamento entre o título e a lista */
  }

  /* Redes icon*/
  .container-icon {
    width: 50%;
  }

  .icon {
    max-width: 500px;
    padding: 5px;
    width: 70px;
    height: auto;
    gap: 2em;
  }

  /* Estilos dos elementos da página de contato */
  .contato-container-info {
    padding: 8em 2em 8.3em 4.5em;
    color: var(--colorDarkGray);
  }

  .contato-container-text-info h2 {
    font-size: 2.5em;
    font-weight: bold;
    color: var(--colorDarkGray);
  }

  .contato-container-text-info p {
    font-size: 1.5em;
  }

  .contato-button-whatsapp-texto {
    font-size: 1.6em;
    font-weight: 700;
  }

  .contato-button-whatsapp {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #25d366; /* Cor verde do WhatsApp */
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .contato-button-whatsapp-texto a:hover {
    background-color: var(--colorBlue);
  }

  .contato-button-whatsapp-texto {
    font-weight: 600;
    font-size: 1em;
    padding-top: 10px;
    color: var(--colorDarkGray);
  }

  .contato-container-text-info a {
    text-decoration: underline;
    color: var(--colorDarkGray);
    cursor: pointer;
  }

  /* Estilos dos elementos da página de projetos */
  .projeto-container-01 {
    height: 55vh;
    padding: 7.7% 15%;
    text-align: center;
  }

  .projeto-container-01 h2 {
    color: var(--colorGray);
    font-size: 1.9em;
  }

  .projeto-container {
    width: calc(
      20% - 20px
    ); /* ajuste para telas maiores, levando em consideração a margem */
    margin: 2.5%; /* ajuste da margem */
    width: 250px; /* largura de cada container */
    height: 150px; /* altura de cada container */
    background-size: cover; /* ajusta o tamanho da imagem de fundo */
    background-position: center; /* centraliza a imagem de fundo */
    border: 1px solid #ccc; /* borda para separar os containers */
    display: inline-block; /* para que fiquem lado a lado */
    margin: 5px; /* margem entre os containers */
    box-sizing: border-box; /* inclui a borda no tamanho total */
    text-align: center; /* centraliza o conteúdo */
    line-height: 100px; /* centraliza verticalmente o conteúdo */
    position: relative; /* para posicionamento absoluto do título */
    overflow: hidden; /* oculta o título */
    transition: background-color 0.3s, color 0.3s; /* transição suave */
  }

  .projeto-container a {
    text-decoration: none;
    color: var(--colorWhite);
  }

  /* Efeito hover */
  .projeto-container:hover {
    background-color: var(--colorBlue); /* cor de fundo ao passar o mouse */
    cursor: pointer;
  }

  .projeto-container:hover img {
    /* Faz o backgroud-img ficar oculto no efeito hover */
    display: none;
  }

  .projeto-container-capa {
    width: 250px;
  }

  /* Título */
  .title {
    width: 100%;
    line-height: 1.6;
  }

  .projeto-container .title {
    position: absolute; /* posicionamento absoluto */
    top: 50%; /* alinhamento vertical no meio */
    left: 50%; /* alinhamento horizontal no meio */
    transform: translate(-50%, -50%); /* centraliza o título */
    color: var(--colorWhite); /* cor do título */
    opacity: 0; /* torna o título inicialmente invisível */
    transition: opacity 0.3s; /* transição suave da opacidade */
    z-index: 2; /* coloca o título sobre o conteúdo */
  }

  /* Tornar o título visível no hover */
  .projeto-container:hover .title {
    opacity: 1; /* torna o título visível */
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1920px) {
  /* Estilos das seções */
  .container-apresentacao,
  .container-sobre,
  .contato-container-info .box-seta-desce,
  .box-seta-sobe {
    width: 100%;
    margin-bottom: 0.2%;
    box-sizing: border-box;
  }

  .container-apresentacao,
  .container-sobre,
  .container-rede-social {
    padding: 4% 2%;
    gap: 2em;
  }

  .container-apresentacao-text,
  .container-sobre-text {
    font-size: 1.5em;
    width: 50%;
  }

  .container-apresentacao {
    display: flex;
    text-align: left;
    color: var(--colorDarkGray);
    height: 600px;
    z-index: 5;
    margin-top: 5%;
    justify-content: center;
  }

  .container-apresentacao h1 {
    font-size: 2.5em;
    margin: 0;
  }

  .container-apresentacao-text {
    font-size: 1.5em;
    height: auto;
  }

  .container-foto {
    max-width: 300px;
    max-height: 300px;
    margin: 30% 5%;
    margin-left: 10%;
  }

  .container-sobre {
    background-color: var(--colorGray);
    color: var(--colorWhite);
    height: 755px;
    padding-top: 7%;
  }

  .container-sobre h2,
  .container-rede-social h2 {
    font-size: 2em;
  }

  .container-sobre h2 {
    margin-left: 12%;
  }

  .container-sobre-text {
    margin-left: 12%;
    margin-bottom: 5%;
  }

  .container-rede-social {
    display: flex;
    color: var(--colorDarkGray);
    flex-direction: column;
    align-items: center;
    height: 389px;
    padding-top: 5%;
    line-height: 2em;
  }

  .container-rede-social h2 {
    margin-bottom: 0px;
    
  }

  /* Redes icon*/
  .container-icon {
    width: 50%;
    margin-top: 0;
  }

  .icon {
    max-width: 500px;
    padding: 5px;
    width: 70px;
    height: auto;
    gap: 2em;
  }

  /* Estilos dos elementos da página de contato */
  .contato-container {
    display: flex;
    padding: 2%;
  }
  .contato-container-info {
    width: 50%;
    height: 675px;
    border: solid 1px red;
    background-color: aquamarine;
    padding-top: 10%;
  }

  .contato-container-text-info h2,
  .contato-container-rede h2 {
    font-size: 2em;
    font-weight: bold;
    color: var(--colorDarkGray);
    border: solid 1px red;
    margin: 0;
    width: 50%;
  }

  .contato-container-text-info p {
    font-size: 1.5em;
    text-align: left;
    width: 35%;
    border: solid 1px red;
  }

  .contato-button-whatsapp-texto {
    font-size: 1.6em;
    font-weight: 700;
    width: 35%;
    border: solid 1px red;
  }

  .contato-button-whatsapp {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #25d366; /* Cor verde do WhatsApp */
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .contato-button-whatsapp-texto a:hover {
    background-color: var(--colorBlue);
  }

  .contato-button-whatsapp-texto {
    font-weight: 600;
    font-size: 1em;
    padding-top: 10px;
    color: var(--colorDarkGray);
  }

  .contato-container-text-info a {
    text-decoration: underline;
    color: var(--colorDarkGray);
    cursor: pointer;
  }

  .contato-container-rede {
    border: solid 1px purple;
    padding-top: 10%;
    width: 50%;
  }

  /* Estilos dos elementos da página de projetos */
  .projeto-container-01 {
    height: auto;
    padding: 9% 0%;
    text-align: center;
  }

  .projeto-container-01 h2 {
    color: var(--colorGray);
    font-size: 1.9em;
  }

  .projeto-container {
    /* ajuste para telas maiores, levando em consideração a margem */
    width: calc(20% - 20px);
    width: 350px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 5px;
    box-sizing: border-box;
    text-align: center;
    line-height: 100px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }

  .projeto-container a {
    text-decoration: none;
    color: var(--colorWhite);
  }

  /* Efeito hover */
  .projeto-container:hover {
    background-color: var(--colorBlue); /* cor de fundo ao passar o mouse */
    cursor: pointer;
  }

  .projeto-container:hover img {
    /* Faz o backgroud-img ficar oculto no efeito hover */
    display: none;
  }

  .projeto-container-capa {
    width: 250px;
  }

  /* Título */
  .title {
    font-family: 'Nunito';
    font-size: 1.5em;
    width: 100%;
    line-height: 1.6;
  }

  .projeto-container .title {
    position: absolute; /* posicionamento absoluto */
    top: 50%; /* alinhamento vertical no meio */
    left: 50%; /* alinhamento horizontal no meio */
    transform: translate(-50%, -50%); /* centraliza o título */
    color: var(--colorWhite); /* cor do título */
    opacity: 0; /* torna o título inicialmente invisível */
    transition: opacity 0.3s; /* transição suave da opacidade */
    z-index: 2; /* coloca o título sobre o conteúdo */
  }

  /* Tornar o título visível no hover */
  .projeto-container:hover .title {
    opacity: 1; /* torna o título visível */
  }

  /* Thanks contact */
  .thanks-container {
    margin: 2%;
    height: 0 auto;
    margin-top: 10%;
    text-align: center;
  }

  main .thanks-container {
    height: 481px;
  }

  .thanks-container h1,
  .thanks-container p {
    color: var(--colorDarkGray);
  }

  .thanks-container p {
    font-size: 1.2em;
  }
}
